.hero {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroTitle {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--ifm-color-primary);
  margin-bottom: 1rem;
}

.heroDescription {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto 2rem;
  color: var(--ifm-color-content-secondary);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 996px) {
  .heroTitle {
    font-size: 2.5rem;
  }
  
  .heroSubtitle {
    font-size: 1.25rem;
  }
  
  .heroDescription {
    font-size: 1rem;
  }
}

